.container.show {
  display: flex;
}

.description {
  flex-grow: 1;
  background: white;
  padding: 8px 16px;
  margin: 8px;
  height: fit-content;
}

.ingredients {
  background: white;
  width: 300px;
}

.rating-stars {
  display: flex;
  padding-left: 4px;

  div {
    padding-right: 4px;
  }
}

.form-group.select {
  display: flex;
  flex-direction: column;
}
