.flip-container {
  perspective: 800;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-style: preserve-3d;
  height: fit-content;

  &.is-flipped {
    transform: rotateY(-180deg);
    background: transparent;
  }
}

.flip-card {
  backface-visibility: hidden;
  height: fit-content;
}

.flip-container .flip-front {
  padding: 8px 16px;
  margin: 8px;
  background: white;
  display: block;
}

.flip-container.is-flipped .flip-front {
  display: none;
}

.flip-container .flip-back {
  transform: rotateY(180deg);
  display: none;
}

.flip-container.is-flipped .flip-back {
  padding: 8px 16px 16px;
  margin: 8px;
  background: white;
  display: block;
}
